<h1>Our Products</h1>
{{#if userInSession}}

  <a href="/userProfile">Profile</a>

  <form id="logout-form" action="/logout" method="POST">
    <button>Logout</button>
  </form>
{{/if}}

<div class="product-container">

  {{#each productList}}
    <div class="product-wrapper">

      <h2 class="product-list-title">{{this.category}}</h2>
      <a
        class="product-list-details"
        href="/products/{{this._id}}"
      >{{this.title}}</a>
      <img
        class="product-list-image"
        src="{{this.image}}"
        alt="{{this.title}}"
      />

    </div>

  {{/each}}

</div>