<h1>Our Products</h1>
{{#if userInSession}}

  <a href="/userProfile">Profile</a>

  <form id="logout-form" action="/logout" method="POST">
    <button>Logout</button>
  </form>
{{/if}}

{{#each productList}}

  <h2>{{this.category}}</h2>
  <h3>{{this.title}}</h3>
  <img src="{{this.image}}" alt="{{this.title}}" />
  <p>{{this.description}}</p>
  <p>£ {{this.price}}</p>

{{/each}}