<h2 class="product-detail-title">{{findProduct.title}}</h2>
<div class="product-details-container">
  <img
    class="product-detail-image"
    src="{{findProduct.image}}"
    alt="{{findProduct.title}}"
  />
  <div class="product-detail-info">
    <p>£ {{findProduct.price}}</p>
    <p>{{findProduct.description}}</p>

  </div>

</div>

<a href="/products">Go back!</a>